body {
    background: hotpink;
    color: #131313;
    animation-name: taustafade;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    margin: 0;
}

@keyframes taustafade {
    0% {
        background: hotpink;
    }

    100% {
        background: lavender;
    }
}

.wrap {
    margin: 0 auto;
    width: 100%;
    /* max-width: 1000px; */
    overflow-x: hidden;
}

/* Sections */

.koko-maa, .kunnat {
    margin: 0 0 300px 0;
    padding: 0 20px;
}

.aloitus {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
}

.leipis {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 30px auto;
    max-width: 700px;
    font-size: 0.8rem;
    line-height: 1.2rem;
    letter-spacing: 0.03rem;
    padding: 15px;
    text-align: center;
}


h1 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.7rem;
    text-align: center;
}



h2 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin: 10px 10px;
}

p.ingressi {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    margin: 10px 10px;
}

div.bar {
    display: inline-block;
    width: 40px;
    background: gold;
    margin: 2px;
}

.waffle {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
    padding: 0;
    opacity: 0;
    transition: opacity 1000ms;
}

.block {
    width: 2px;
    height: 2px;
    margin: 5px;
    transition: width 2000ms, height 2000ms;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    box-sizing: border-box;
}

.gender-scatter {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    /* overflow-x: hidden; */
    height: auto;
    padding: 0;
    opacity: 0;
    transition: opacity 2000ms;
    /* background: white; */
}

footer {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #fff9;
}

footer p {
    max-width: 600px;
    margin: auto;
    padding: 50px;
}


/*Desktop styles*/

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    p.ingressi {
        font-size: 1.75rem;
    }

    .leipis {
        font-size: 1.2rem;
        line-height: 1.3rem;
        letter-spacing: 0.05rem;
    }
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 14px;
}


.ots-1 {

}

#emoji {
    width: 100px;
    height: auto;
    position: absolute;
    top: 50px;
    left: calc(50% - 100px);
    transform: rotate(90deg);
    filter: grayscale(100%);

    animation-name: roll;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

#emoji:hover {
    animation-play-state: paused;
    filter: grayscale(0%);
    cursor: grabbing;
}

@keyframes roll {
    0% {transform: rotate(360deg); top: 50px;}
    50% {transform: rotate(180deg); top: 100px;}
    100% {transform: rotate(0deg); top: 50px;}
}

@keyframes aalto {
0% { top: 50px;left: 40%: }
50% { top: 70px;left: 60%: }
100% { top: 50px;left: 40%: }
}


@media only screen and (min-width: 768px) {
    h1 { font-size: 4rem; }
    h1 { font-size: 3rem; }
}

@media only screen and (min-width: 1200px) {
    h1 { font-size: 6rem; }
}
